*{
  font-family: 'M PLUS Rounded 1c',sans-serif;
  box-sizing: border-box; 
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header{
  background-color: #28a44a;
  color:white;
  height:70px;
  min-width: 1170px;
  width: 100%;
  position: fixed;
  top:0;
  z-index:10;
}

.header-main{
  font-size:30px;
  float:left;
  padding: 15px 30px;
}

header a{
  list-style: none;
  float:right;
  font-size: 15px; 
  padding: 0px 30px ;
  margin-right: 20px;
}

.top-wrapper{
  min-width: 1170px;
  padding: 200px 0 200px 0;
  color: black;
  text-align: center;  
  background-image: url(cherry.jpg);
  background-size: cover;
}

.container{
  min-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container h1{
  font-size: 80px;
  letter-spacing: 5px;
}

.container p{
  font-size: 30px;
}

.ccontainer{
  min-width: 1170px;
  padding-top:50px;
  padding-bottom: 80px;
}

.shifuto-sellect{
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  text-align: center;
}

.content{
  float: left;
  width: 50%;
}

.clear{
  clear:left;
}

.content p{
  text-align: center;
  font-size: 30px;
}

.content-icon{
  width:300px;
}

.kiki{
  padding-bottom:70px;
}

.content a{
  text-align: center;
  font-size: 40px;
  color:white;
  padding:20px 40px;
  opacity:0.8;
  background-color:#c394d5;
  box-shadow:0 7px #4f325b;
}

.content a:hover{
  opacity:1;
}

.content a:active{
  box-shadow:none;
  position:relative;
  top:7px;
}


footer{
  background-color: #196989;
  height:150px;
  min-width: 1170px;
}

footer img{
  float: left;
  padding: 25px;
}

footer h4{
  text-align: right;
  font-size: 20px;
  padding: 15px;
  color: white;
}

.SNS{
  float:right;
  padding: 0 10px;
}
